.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #851026; /* strong red */
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 4px solid #000; /* black accent line */
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 100px;
}



/* Media query for tablets */
@media (max-width: 768px) {
  .site-header {
    font-size: 1.5rem;
  }
}

/* Media query for phones (350px to 450px) */
@media (max-width: 450px) and (min-width: 350px) {
  .site-header {
    font-size: 1rem;
  }
}

/* Media query for very small phones */
@media (max-width: 350px) {
  .site-header {
    font-size: 0.8rem;
  }
}

